.logo {
  font-size: 2rem;
  word-wrap: break-word;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

.hero h2 {
  font-size: clamp(1rem, 20vmin, 7rem);
  padding: 5vh 0;

  background-image: linear-gradient(to right, darkblue, red, darkblue);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  animation-name: bg-moving;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes bg-moving {
  0% {
    background-position: 0;
  }

  50% {
    background-position: 50vw;
  }

  100% {
    background-position: 0vw;
  }
}
.hero p {
  font-size: clamp(1rem, 4vmin, 2rem);
}

.card-img-container {
  overflow: hidden;
  height: 15rem;
  display: grid;
  justify-content: center;
}
.card-img-container > img {
  object-fit: contain;
  height: 100%;
  transform: scale(1.1);
}

.content-card {
  border-radius: 20px;
  background-color: rgb(18, 25, 30);
  box-shadow: 3px 3px 3px rgba(16, 251, 208, 1);
}

header {
  background-color: #000;
}

footer {
  background: #000;
  color: rgb(205, 241, 179);
}
